# env files
.env
.env.local
.env.*.local
**/.env
**/.env.local

# dependencies
node_modules
**/node_modules

# build outputs
indexer/dist
frontend/.next
frontend/out

# Next.js cache
frontend/.next/
frontend/.vercel

# TypeScript build info
**/*.tsbuildinfo

# logs
*.log
npm-debug.log*

# OS
.DS_Store
